@font-face {
    font-family: Rubik;
    src: url(Font/Rubik-Medium.ttf);
}

body {
    font-family: Rubik;
}

.navbar {
    background-color: #2B2E4A !important;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    color: #F77D0A;
    padding-left: 50px;
    font-weight: 900 !important;
}

.navbar-brand:hover {
    color: #F77D0A !important;
}

.navbar-toggler-icon {
    background-color: #F77D0A;
}

.navbar-collapse {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.btn-outline-success {
    background-color: #F77D0A;
    color: white;
}

.btn-outline-success:hover {
    background-color: white;
    color: black;
}

.btn-outline-success:focus {
    background-color: #F77D0A !important;
    color: white;
}

.form-select {
    width: 200px;
}

.maincarousel{
    display: block;
}

.carousel-item>img {
    filter: blur(5px);
    height: 600px;
}

.carousel-caption>h1 {
    color: #F77D0A;
    font-weight: 900 !important;
}

.carousel-caption>h2 {
    color: white;
    font-weight: 600 !important;
}

.card-img-top {
    width: 100%;
    height: 250%;
    object-fit: ;
}

.card {
    width: 100%;
    height: 100%;
}

.back-to-top{
    display: inline;
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    height: 50px;
    width: 50px;
    background-color: #F77D0A;
    border: #F77D0A;
    border-radius: 0%;
}

@media (max-width: 992px) {
    .navbar-collapse {
        justify-content: center;
    }
    .car-price{
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .navbar-collapse {
        justify-content: center;
        display: grid;
    }
    .btn-outline-success{
        margin: 5px;
    }
    .form-select{
        margin: 5px;
    }
    .car-price{
        font-size: 15px;
    }
}